
OrderStep:
  order_steps_to_include:
    step1: OrderStepCreated
    step2: OrderStepSubmitted
    step3: OrderStepDisableSecondHandProduct
    step4: OrderStepSentInvoice
    step5: OrderStepPaid
    step6: OrderStepRemoveSecondHandProduct
    step7: OrderStepArchived

ExportSecondHandProducts:
  #must end in .json
  location_to_save_contents: '/my/data/folder/file.json'
  do_not_copy:
    - MyCustomField
  secret_codes:
    'AAA': '1.1.1.1'
    # all ips
    'BBB': '*'

UpdateSecondHandProducts:
  secret_codes:
    'AAA': '1.1.1.1'
    # all ips
    'BBB': '*'
